nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background: teal;
    .logo-container{
        margin-left: 2rem;
        font-size: 1.5rem;
    }
    ul{
        margin-right: 3rem;
        li{
            list-style-type: none;
            display: inline;
            margin-left: 2rem;
            padding: 1rem;
            a{
                text-decoration: none;
                color: #eeee;
                font-size: 1rem;
            }
            a:hover{
                color: black;
            }
        }
    }
}